body {
  background-color: #333333;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.green-door {
  width: 200px;
  height: 400px;
}
.brown-door {
  width: 200px;
  height: 400px;
}
.red-door {
  width: 200px;
  height: 400px;
}
.screw {
  width: 20px;
  height: 25px;
  align-items: flex-start;
}
.screwitem {
  width: 20px;
  height: 25px;
  margin-bottom: 100vh;
  visibility: hidden;
}
.restart {
  width: 200px;
  height: 70px;
  border: 3px;
}
h1 {
  color: aliceblue;
  align-items: center;
  justify-content: center;
}
#puzzle-container {
  width: 600px;
  height: 600px;
  border: 1px solid;
  position: relative;
}
.puzzle-item {
  width: 200px;
  height: 200px;
  border: 1px solid;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background-color: #ddd;
}
.fill {
  position: relative;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.empty {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 10px;
  border: 3px black;
  background-color: #ddd;
  margin-top: 100vh;
}
.hold {
  border: solid #ccc 4px;
}
.hovered {
  background: #f4f4f4;
  border-style: dashed;
}
.invisible {
  display: none;
}

#coin_flip {
  height: 500px;
  width: 600px;
}
#ct {
  height: 50px;
  width: 600px;
  color: black;
  font-size: 20px;
}
h2 {
  color: #f4f4f4;
}
h3 {
  color: #f4f4f4;
}
form {
  color: #f4f4f4;
}
